
/* Styling for website */
body {
  color: #f7f7f7;
}

/*Sizing for website */

.jumbotron {
  background-image: url("../images/nasa.jpg");
  background-size: 100% 100%;
  text-align: center;
}


/*padding for website */
.article-title, .article-p {
  padding: 20px;
}
form {
  padding: 5px;
}

#filter-btn {
  width: 100%;
}
